.v-sep {
	align-self: center;
	width: 1px;
	height: 16px;
	border-radius: 1px;
	background-color: currentColor;
	opacity: 25%;
}


@keyframes in {
	from {
		mask-position: -32px;
	}

	to {
		mask-position: 0;
	}
}

.wave {
	--mask: url('data:image/svg+xml,<svg width="20" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7C2.5 7 4 6 5 5C6 4 7.4995 3 9.99975 3C12.5 3 14 4 15 5C16 6 17.5 7 20 7" stroke="white"/></svg>');

	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);
	mask-repeat: repeat-x;
	mask-size: contain;

	animation: infinite 3s in linear;
}

.caution-bg {
	background-image: repeating-linear-gradient(-45deg, var(--clr-accent), var(--clr-accent) 8px, var(--clr-accent-2) 8px, var(--clr-accent-2) 1rem);
}
