.tab-bar {
	margin-bottom: 1rem;
	display: flex;
	justify-content: stretch;
	padding: 6px;
	gap: 6px;
	border-radius: 12px;
	background-color: var(--clr-depress);

	&>.tab-item {
		flex: 1;
		display: flex;
		padding: 8px 1rem;
		border-radius: 6px;
		justify-content: center;
		color: var(--clr-fg);
		font-weight: bold;

		&:hover,
		&:focus-visible {
			color: var(--clr-fg);
		}

		&:focus-visible {
			outline: solid 2px var(--clr-accent);
		}

		&.current,
		&[aria-current]:not([aria-current=false]) {
			background-color: var(--clr-accent);
			color: var(--clr-accent-on);
			box-shadow: var(--shadow-btn);
			outline-offset: 2px;
			/* box-shadow: var(--shadow-btn); */
		}
	}
}
